.block {
  background-color: #fff;
  padding: 20px;
  width: 600px;
  border-radius: 5px;
  margin-left: 0px;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-top: 10px;
  max-width: 100%;
}

.useful-links a {
  /*color: #0F1626;*/
}
