/* This is the primary CSS file*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
}

.container--vertical {
  flex-direction: column;
}

.container__feature {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-size: 1.2em;
}

.image {
  width: 200px;
  height:200px;
  margin-top: 60px;
}

.image--small {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-bottom: auto;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0px;
}

.btn--main {
  width: fit-content;
  padding: 20px;
  /*margin-bottom: 40px;*/
  margin-top: 40px;
  background-image: linear-gradient(to bottom, #fff 0%, #A3BAD9 100%);
}

.btn-default:hover, .btn-default:focus {
    background-color: #A3BAD9;
    background-position: 0 -15px;
}


.form-control {
  width: 200px;
}


.left-inner-addon {
    position: relative;
    font-size: 1.2em;
    color: #555;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon span {
    position: absolute;
    padding: 7px 12px;
    pointer-events: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
