/* This is the primary CSS file*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
}

.container--vertical {
  flex-direction: column;
}

.image {
  width: 200px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0px;
}

.btn--main {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 20px;
  margin-bottom: 40px;
}

.navbar-brand {
  margin-right: 40px;
}

.form-control {
  width: 200px;
}



.input-group-addon
{
    background-color:#fff;
    margin-bottom: 20px;
    pointer-events: none;
}

.input-group .input-group-addon + .form-control
{
    border-left: none;
    border-right: none;
}

.input-group-addon:first-child {
    border-left: 0px;
    border-right: 0px;
}



.left-inner-addon {
    position: relative;
    font-size: 1.2em;
    color: #555;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon span {
    position: absolute;
    padding: 7px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
    color: #555;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 7px 12px;
    pointer-events: none;
}
