/* This is the primary CSS file*/

/*
Colours:
#0F1626;
#8E95A5;
#AB987A;
#FF533D;
#F5F5F5;
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F5F5F5;
}

a {
  color: #FF533D;
}

a:visited {
  color: #FF533D;
  text-decoration: none;
}

.container {
  display: flex;
  margin-right: 20px;
  margin-left: 0px;
  padding: 0;
  width: contents;
  max-width: 100%;
}

.container--vertical {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: 0px;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 1.2em;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 100%;
}


.container__feature {
  width: 400px;
  font-size: 1.2em;
}

.image {
  width: 400px;
  height:400px;
  margin-top: 60px;
}


.heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0px;
}



.form-control {
  width: 400px;
  max-width: 100%;
}


.left-inner-addon {
    position: relative;
    font-size: 1.2em;
    color: #555;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon span {
    position: absolute;
    padding: 7px 12px;
    padding-top: 3px;
    pointer-events: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  background-color: #fff;
  width: 400px;
  max-width: 100%;
}

.show-more {
  cursor: pointer;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  /* applies only if the screen is wider than 768px*/
  .wrapper {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  /* applies only if the screen is narrower than 768px*/
  .wrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
  }

  .image {
    max-width: 100%;
    height: auto;
  }
}
