.job {
  background-color: #fff;
  padding: 20px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0;
}

.topright {
  margin-left: auto;
  text-transform:capitalize;
}

.title {
  text-align: left;
  font-size: 2em;
}

.toprow {
  display: flex;
}

.filter {
  width: 300px;
  max-width: 100%;
}

.count-jobs {
  margin-left: 0px;
  margin-top: 25px;
}

.search {
  background-image: url("./images/search.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5% 50%;
  background-color: inherit;
  text-indent: 30px;
}

/*DESKTOP ONLY STYLES 768px+ */
@media screen and (min-width: 768px) {
  .filter {
    margin-right: 40px;
  }
}

/*MOBILE ONLY STYLES 768px- */
@media screen and (max-width: 768px) {
  .filter {
    width: 100%;
  }
}
