.job {
  background-color: #eee;
  padding: 20px;
  width: 600px;
  border-radius: 5px;
  margin-left: 100px;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-top: 10px;

}


.topright {
  margin-left: auto;
  text-transform:capitalize;
}

.title {
  text-align: left;
  font-size: 2em;
}

.toprow {
  display: flex;
}

.filter {
  width: 300px;
}
