.navbar {
  background-color: #0F1626;
  background-image: none;
  margin-left: 0px;
}

.navbar-brand {
  margin-right: 40px;
}

.navbar-item a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
}

.navbar-brand:active {
  color: #fff;
}

.navbar-brand--logo {
  margin-left: 200px;
}

.image--topbar {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-bottom: auto;
  margin-left: 80px;
}
