.navbar {
  background-color: #0F1626;
  background-image: none;
  margin-left: 0px;
}

.navbar-brand {
  margin-right: 40px;
}

.navbar-brand:active {
  color: #fff;
}

.navbar-brand--logo {
  margin-left: 200px;
}

.image--small {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-bottom: auto;
  margin-left: 40px;
}
