.navbar {
  background-color: #0F1626;
  background-image: none;
  margin-left: 0px;
  padding-left: 0;
  position: relative;
  margin-bottom: 0;
}

.navbar-brand {
  padding-left: 0;
  /*margin-left: 10%;*/
}

.navbar-header {
 position: relative;
}

.navbar-link {
  font-size: 1.3em;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav >
.active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #0F1626;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
  background-image: none;
}

.image--topbar {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-bottom: 0;
  margin-left: 0;
}

.container-fluid {
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar-toggle {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  /* applies only if the screen is wider than 768px*/
  .navbar-brand {
    padding-left: 15px;
    /*margin-left: 10%;*/
  }
}

@media screen and (max-width: 768px) {
  /* applies only if the screen is narrower than 768px*/
  .container-fluid {
    margin-left: 5%;
    margin-right: 5%;
  }
}
